<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social tags -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    <meta property="og:site_name" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hayify">

    <link rel="stylesheet" href="css/style.css">
    <title>Cinemadam</title>

<!-- _                  _                                             _
    | |                | |                                           | |
    | |     __,        | |   ,_    __,   _  _    _   _  _     _  _   | |
    |/ \   /  |  |   | |/_) /  |  /  |  / |/ |  |/  / |/ |   / |/ |  |/
    |   |_/\_/|_/ \_/|/| \_/   |_/\_/|_/  |  |_/|__/  |  |_/o  |  |_/|__/
                    /|
                    \| -->

    <script>
       (function(i, s, o, g, r, a, m) {
           i['GoogleAnalyticsObject'] = r;
           i[r] = i[r] || function()

           {
               (i[r].q = i[r].q || []).push(arguments)
           }, i[r].l = 1 * new Date();
           a = s.createElement(o),
               m = s.getElementsByTagName(o)[0];
           a.async = 1;
           a.src = g;
           m.parentNode.insertBefore(a, m)
       })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

       ga('create', 'UA-15405780-12', 'auto');
       ga('send', 'pageview');
    </script>
</head>
<body>
    <main v-cloak>
        <cm-menu
            v-bind:variation="screen === 'map' ? 'large' : 'normal'"></cm-menu>

        <section v-show="screen === 'map'" class="screen map">
            <cm-map
                v-bind:addresses="addresses"
                v-bind:center="mapCenter"
                v-bind:zoom="13"></cm-map>

            <h2>Alle films met een video</h2>
            <ul class="map__list" v-if="filmwithvideo">
                <li v-for="film in filmwithvideo">
                    <a v-bind:href="'#film:' + film.film_id">
                        {{film.title}}
                    </a>
                </li>
            </ul>

            <h2>Verdwenen bioscopen</h2>
            <ul>
                <li>
                    <a href="#address:Perc27">Nieuwendijk 186</a>
                </li>

                <li>
                    <a href="#address:Perc26">Nieuwendijk 69</a>
                </li>

                <li>
                    <a href="#address:Perc2">Nieuwendijk 154</a>
                </li>

                <li>
                    <a href="#address:Perc105">Jodenbreestraat 23</a>
                </li>

                <li>
                    <a href="#address:Perc48">A. Allebéplein 4</a>
                </li>
            </ul>

            <h2>Alle locaties in {{city}}</h2>
            <ul class="map__list" v-show="addresses.length">
                <li v-for="address in addresses">
                    <a v-bind:href="'#address:' + address.address_id">
                        {{address.street_name}}
                    </a>
                </li>
            </ul>
        </section>

        <section v-show="screen === 'address'" class="screen address">
            <h2 class="address__title">Alle bioscopen op {{address.street_name}}</h2>

            <figure class="address__image"
                    v-if="wikidata && wikidata.image">
                <img v-bind:src="wikidata.image.full" />
                <figcaption>Via <a target="_blank" v-bind:href="wikidata.imageUrl">Wikimedia Commons</figcaption>
            </figure>

            <p v-if="address.links && address.links.vgebouwen_id">
                Dit is een <a target="_blank" v-bind:href="'http://verdwenengebouwen.nl/gebouw/' + address.links.vgebouwen_id">
                verdwenen gebouw</a>
            </p>

            <ul class="address_list">
                <li v-for="venue in address.venues">
                    <a v-bind:href="'#venue:' + venue.venue_id">{{venue.name}}</a>
                </li>
            </ul>
        </section>

        <section v-show="screen === 'venue'" class="screen venue">
            <h2 class="venue__title">{{venue.name}}</h2>
            <p class="venue__lead">{{venue.info}}</p>

            <ul>
                <li v-if="venue.venue_type">Type: {{venue.venue_type}}</li>
                <li v-if="venue.address">
                    <a v-bind:href="'#address:' + venue.address.address_id">
                        {{venue.address.street_name}}
                    </a>
                </li>
            </ul>

            <h3>Films gedraaid in {{venue.name}}</h3>
            <ul class="venue__programmes">
                <li v-for="programme in venue.programmes">
                    <a v-if="programme.film"
                       v-bind:href="'#film:' + programme.film.film_id">
                       <span v-if="programme.film.hasvideo">🎞</span>
                        {{programme.film.title}} ({{programme.date.programme_date}})
                    </a>
                </li>
            </ul>
        </section>

        <section v-show="screen === 'film'" class="screen film">
            <h2 class="film__title">{{film.title}}</h2>

            <p v-if="wikidata.descriptions">{{wikidata.descriptions}}</p>

            <video v-if="video"
                   class="film__video"
                   v-bind:src="video.src"
                   v-bind:poster="video.image.thumb"
                   controls></video>

            <ul class="film__details">
                <li v-if="film.film_year">Jaar: {{film.film_year}}</li>
                <li v-if="film.country">Land: {{film.country}}</li>
                <li v-if="film.film_length">Lengte: {{film.film_length}}</li>
                <li v-if="film.film_gauge">Filmtype: {{film.film_gauge}}</li>
                <li v-if="film.imdb">
                    <a target="_blank"
                       v-bind:href="'http://www.imdb.com/title/tt' + film.imdb">
                       IMDB
                    </a>
                </li>
                <li v-if="film.wikidata">
                    Via <a target="_blank"
                           v-bind:href="'https://www.wikidata.org/wiki/' + film.wikidata">
                        Wikidata</a>
                </li>
            </ul>

            <h3>Bioscopen waar deze film is gedraaid</h3>
            <ul class="film__venues">
                <li v-for="venue in film.venues">
                    <a v-bind:href="'#venue:' + venue.venue_id">
                        {{venue.name}} ({{venue.address.city_name}})
                    </a>
                </li>
            </ul>

            <h2>Filmkeuring</h2>
            <ul>
                <li v-for="c in film.censorship">
                    {{c.censorship_date}}: {{c.rating}}, {{c.comment_by_censor}},
                    via
                    <a target="_blank"
                       v-bind:href="'http://proxy.handle.net/10648/' + c.source[0].info">Nationaal Archief</a>
                </li>
            </ul>
        </section>

        <cm-footer></cm-footer>
    </main>

    <script src="bundle.js"></script>
</body>
</html>